<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.loginapi.repository.AuthMapper">
    <insert id="save" parameterType="Auth">
        insert into auth(access_token, refresh_token, member_id)
        values(#{accessToken}, #{refreshToken}, #{memberId})
    </insert>

    <select id="findOneByMemberId" parameterType="String" resultType="Auth">
        SELECT
            auth_id, access_token, refresh_token, member_id
        FROM
            auth
        WHERE
            member_id = #{memberId}
    </select>

    <update id="updateByAuthId" parameterType="String">
        update
            auth
        SET
            refresh_token = #{refreshToken}
        WHERE
            auth_id = #{authId}
    </update>
</mapper>